<bse-view-content>
    <div class="container-fluid">
        <bse-tile-container title="Sample Applications">
            <div class="col-xs-6 col-sm-3 col-md-2" ui-sref="masterdetail.worklist">
                <div class="tile">
                    <div class="tile-inner">
                        <div class="tile-base">
                            <h3 class="title-header">Master-Detail</h3>
                            <span class="glyphicon glyphicon-th-list"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <a href="https://github.com/uwe-e/angular-bse-ui">
                    <div class="tile">
                        <div class="tile-inner">
                            <div class="tile-base">
                                <h3 class="title-header">Code on Github</h3>
                                <span class="fa fa-3x fa-github"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </bse-tile-container>
    </div>
</bse-view-content>