<bse-view-content>
    <div class="container-fluid">
        <bse-tile-container title="Source Code">
            <div class="col-xs-6 col-sm-3 col-md-2">
                <a href="https://github.com/uwe-e/angular-bse-ui">
                    <div class="tile">
                        <div class="tile-inner">
                            <div class="tile-base">
                                <h3 class="title-header">Code on Github</h3>
                                <span class="fa fa-3x fa-github"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </bse-tile-container>
        <bse-tile-container title="Sample Applications">
            <div class="col-xs-6 col-sm-3 col-md-2" ui-sref="masterdetail.worklist">
                <div class="tile">
                    <div class="tile-inner">
                        <div class="tile-base">
                            <h3 class="title-header">Filter Bar</h3>
                            <h4 class="tile-header-subtitle">Worklist with a filterbar and a detail page</h4>
                            <span class="fa fa-3x fa-table"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2" ui-sref="icontabbar.worklist">
                <div class="tile">
                    <div class="tile-inner">
                        <div class="tile-base">
                            <h3 class="title-header">Icon Tab Bar</h3>
                            <h4 class="tile-header-subtitle">Worklist with a icon tabbar and a detail page</h4>
                            <span class="fa fa-3x fa-paperclip"></span>
                        </div>
                    </div>
                </div>
            </div>
        </bse-tile-container>
    </div>
</bse-view-content>