html,
body {
    height: 100%;
    background-color: #FFF;
    /* The html and body elements cannot have any padding or margin. */
}

.shellPage {
    min-height: 100%;
    height: 100%;
}

.mchshellbrand {
    background-color: #009de0;
    position: absolute;
    top: 0;
    height: 4px;
    left: 0;
    right: 0;
    border: medium none;
    margin: 0;
    z-index: 7;
}

header.shellbar {
    top: 4px;
    border-width: 0 0 1px;
}

.shellbar-header-user-item > * {
    text-decoration: none;
    overflow: hidden;
    position: relative;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.ui-grid-filter-container {
    display: none !important;
}

.tile .tile-base .glyphicon, .tile .tile-base .fa {
    position: absolute;
    bottom: 1px;
    top: auto;
    margin-left: 2px;
    color: #007CC0;
}

.tile h4 {
    font-size: 14px;
    color: #666;
    text-overflow: ellipsis;
    margin: 0px;
}

.btn {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.form-group-sm .form-control {
    border-radius: unset;
}
/*icon-tabs*/
.tab-item-orientation-vertical {
    height: 80px;
}

.icon-tab-item {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.tab-item-filter, .tab-item-all {
    cursor: pointer;
}

.icon-tab-item .icon-tab-item-icon-pane {
    height: 48px;
    width: 80px;
    display: block;
}

.icon-tab-item.icon-tab-text-only {
    margin-right: 20px;
}

.icon-tab-text-only > .icon-tab-item-icon-pane {
    margin-bottom: 16px;
}

.icon-tab-item.icon-tab-text-only .icon-tab-item-icon-pane {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: auto;
}

.icon-tab-item.icon-tab-text-only .icon-tab-item-count {
    display: inline-block;
    font-size: 24px;
    padding: 0 8px 0 0;
    vertical-align: middle;
    width: auto;
}

.icon-tab-item.icon-tab-text-only .icon-tab-item-text {
    display: inline-block;
    max-height: 48px;
    max-width: 64px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: normal;
    width: auto;
}

.icon-container {
    border-radius: 48px;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: inline-block;
    font-size: 24px;
    height: 48px;
    line-height: 44px;
    overflow: hidden;
    width: 48px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.tab-item-filter .icon-tab-item-count {
    color: #333333;
    text-shadow: 0 1px rgba(255,255,255,0.5);
    max-width: 32px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
}

.icon-tab-item-text {
    line-height: 15px;
    overflow: hidden;
    padding: 6px 0 0 0;
    position: relative;
    text-overflow: ellipsis;
    width: 80px;
}

.icon-tab-item-arrow {
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    height: 11px;
}


.icon-tab-item.active .icon-tab-item-arrow.tab-primary {
    border-bottom-color: #2e6da4;
}

.icon-tab-item.active .icon-container.tab-success {
    background-color: #4cae4c;
    border-color: #fff;
    color: #fff;
}

.icon-tab-item.active .icon-tab-item-arrow.tab-success {
    border-bottom-color: #4cae4c;
}

.icon-tab-item .icon-container.tab-primary {
    background-color: #fff;
    border-color: #2e6da4;
    color: #337ab7;
}

.icon-tab-item.active .icon-container.tab-primary {
    background-color: #2e6da4;
    border-color: #fff;
    color: #fff;
}

.icon-tab-item.active .icon-tab-item-arrow.tab-primary {
    border-bottom-color: #2e6da4;
}

.icon-tab-item .icon-container.tab-info {
    background-color: #fff;
    border-color: #46b8da;
    color: #5bc0de;
}

.icon-tab-item.active .icon-container.tab-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

.icon-tab-item.active .icon-tab-item-arrow.tab-info {
    border-bottom-color: #5bc0de;
}

.icon-tab-item .icon-container.tab-danger {
    background-color: #fff;
    border-color: #d43f3a;
    color: #d9534f;
}

.icon-tab-item.active .icon-container.tab-danger {
    background-color: #d9534f;
    border-color: #fff;
    color: #fff;
}

.icon-tab-item.active .icon-tab-item-arrow.tab-danger {
    border-bottom-color: #d9534f;
}

.icon-tab-item .icon-container.tab-warning {
    background-color: #fff;
    border-color: #eea236;
    color: #f0ad4e;
}

.icon-tab-item.active .icon-container.tab-warning {
    background-color: #f0ad4e;
    border-color: #fff;
    color: #fff;
}

.icon-tab-item.active .icon-tab-item-arrow.tab-warning {
    border-bottom-color: #f0ad4e;
}
