<div class="filterbar panel">
    <div>
        <nav class="navbar">
            <div class="container">
                <div class="btn-group btn-group-right">
                    <button type="button" class="btn btn-default navbar-btn btn-collapse-filterbar">{{texthide}}</button>
                    <button type="button" class="btn btn-primary navbar-btn btn-execute-filter">{{textgo}}</button>
                </div>
            </div>
        </nav>
    </div>
    <div bse-filter-bar-collapse="{{collapse}}" ng-transclude></div>
</div>